/* Error: Missing argument $breakpoint.
 *    ,--> sass\base\_base.scss
 * 51 |     @include respond {
 *    |     ^^^^^^^^^^^^^^^^ invocation
 *    '
 *    ,--> sass\abstracts\_mixins.scss
 * 43 | @mixin respond($breakpoint) {
 *    |        ==================== declaration
 *    '
 *   sass\base\_base.scss 51:5  respond()
 *   sass\base\_base.scss 51:5  @import
 *   sass\main.scss 8:9         root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Missing argument $breakpoint.\a    \250c \2500 \2500 > sass\\base\\_base.scss\a 51 \2502      @include respond {\d\a    \2502      ^^^^^^^^^^^^^^^^ invocation\a    \2575 \a    \250c \2500 \2500 > sass\\abstracts\\_mixins.scss\a 43 \2502  @mixin respond($breakpoint) {\d\a    \2502         \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501  declaration\a    \2575 \a   sass\\base\\_base.scss 51:5  respond()\a   sass\\base\\_base.scss 51:5  @import\a   sass\\main.scss 8:9         root stylesheet";
}
