.card{
    // define the propective
    // we want to turn it as if it is in the front of the client.
    // without using prespective it wont turn the normal way.
    // the lower value the higher the dramatic turning
    // alot of experiments has to been to donw in order to implement it
    perspective: 150rem;
    // is not yet implemented in all browsers
    -moz-perspective: 150rem;
    position: relative;
    height: 52rem;


    &__side{
        height: 52rem;
        // transition: all .8s;
        // * part of the [ transition timing function ]
        // * [ease] will make the animation look more smoother. 
        // transition: all .8s ease;
        // transition: all 8s ease;
        transition: all .8s ease;

        // they start fitting to there width.
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        // * when it set to [ hidden ] it hide the backpart of an element.
        backface-visibility: hidden;
        border-radius: 3px;

        // * IMAGE OVERFLOWING
        overflow: hidden;

        // * [0] -> x, [4rem] -> blur, 
        box-shadow: 0 1.5rem 4rem rgba($color-black, .15);

        // * all the elements are taking out of there natural flow.
        // card__side--front
        &--front{
            // background-color: purple;
            background-color: $color-white;
        }

        // before we rotate the card this back side is already flipped, i.e it is already at 180%
        &--back{
            // background-color: green;
            transform: rotateY(180deg);

            &-1{
                // going to the right bottom corner.
                background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark);
            }

            &-2{
                // going to the right bottom corner.
                background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
            }

            &-3{
                // going to the right bottom corner.
                background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark);
            }
        }
    }
  
// * when we hover on the card we want the side to transform.

//  .card:hover .card__side
    // &:hover  &__side{
    //     transform: rotateY(180deg);
    // }

    // because the only the front side rotate
    // * Hovering on the whole card, and then the front side of the card we are hovering on, what should happen to it.
    &:hover  &__side--front{
        // transform: rotateY(180deg);
        transform: rotateY(-180deg);
    }

    // if it is at 180deg, it will have to go back to zero.
    &:hover  &__side--back{
        transform: rotateY(0);
    }

    // * FRONT SIDE STYLING.
    &__picture {
        background-size: cover;
        // due to experimentation
        height: 23rem;
        // background-blend ->  describes how the background element propertise should blend
        // similar to the one in photoshop,
        background-blend-mode: screen;
        // [100%] -> x direction, [0] -> y direction, [100%] -> x direction, [85%] -> y direction, [0] -> x direction, [100%] -> y direction
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);

        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        // ? the rounded border is no longer been added.
            &--1{
                background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark), url(../img/nat-5.jpg);
            }

            &--2{
                background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark), url(../img/nat-6.jpg);
            }

            &--3{
                background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark), url(../img/nat-7.jpg);
            }
    }

    &__heading{
        font-size: 2.8rem;
        font-weight: 300;
        text-transform: uppercase;
        text-align: right;
        color: $color-white;
        // TODO -> Remove the testing stuff [font, color] in &__side
        position: absolute;
        top: 12rem;
        // todo -> align text
        right: 2rem;
        // after &--1 -> styling
        width: 75%;

    }

    &__heading-span{
        padding: 1rem 1.5rem;
        // to make it work in google chrome
        // will apply the padding to all the part sides
        -webkit-box-decoration-break: clone;
        box-decoration-break: clone;
        &--1{
            background: linear-gradient(to right bottom, rgba($color-secondary-light, .85), rgba($color-secondary-dark, .85));
        }

        &--2{
            background: linear-gradient(to right bottom, rgba($color-primary-light, .85), rgba($color-primary-dark, .85));
        }

        &--3{
            background: linear-gradient(to right bottom, rgba($color-tertiary-light, .85), rgba($color-tertiary-dark, .85));
        }
    }

    &__details{
        // after not:last-child.
        padding: 3rem;
        ul{
            list-style: none;
            width: 80%;
            // after padding &__details
            // * in order just to center everything.
            margin: 0 auto;
            li{
                text-align: center;
                font-size: 1.5rem;
                padding: 1rem;

                &:not(:last-child){
                    border-bottom: 1px solid $color-grey-light-2;
                }
            }
        }

    }

    // * FRONT SIDE STYLING.
    &__cta{
        position: absolute;
        // Moving from the parent element from right and left.
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        // ! [STOP]


    // todo -> after price-box
        width: 90%;
    // todo -> after __cta [width: 90%;]
        text-align: center;
    }

    // todo -> after price-only
    &__price-box{
        text-align: center;
        color: $color-white;
        margin-bottom: 8rem;

    }

    // todo -> after price-value
    &__price-only{
        font-size: 1.4rem;
        text-transform: uppercase;
    }

    // todo -> after cta
    &__price-value{
        font-size: 6rem;
        font-weight: 100;

    }
}