.form {
  // except the last on

  &__group:not(:last-child) {
    margin-bottom: 2rem;
  }

  &__input {
    font-size: 1.5rem;
    // * will inherit the parent font-family.
    // * All elements inherit the font-family except the [input] element, that why we are settting manually.
    font-family: inherit;
    // [input] element dont inherit the font propertise.
    color: inherit;
    padding: 1.2rem 2rem;
    border-radius: 2px;
    background-color: rgba($color-white, 0.5);
    border: none;
    transition: all 0.3s;

    //  * using because of the 3px border we specified before, just to stop the lable from moving down when the user click on the input.
    // * it will be invisible.
    border-bottom: 3px solid transparent;
    width: 90%;
    display: block;

    &:focus {
      outline: none;
      // * for accessability reason.
      box-shadow: 0 1rem 2rem rgba($color-black, 0.1);
      border-bottom: 3px solid $color-primary;
    }

    //   * Just a browser validation of the form.
    // * when the text you are writing is invalid
    &:focus:invalid {
      border-bottom: 3px solid $color-secondary-dark;
    }

    // * [::] stands for the thing that is on the webpage.
    // * because it is inside the form input.
    &::-webkit-input-placeholder {
      color: $color-gray-dark-2;
    }
  }

  &__label {
    font-size: 1.2rem;
    font-weight: 700;
    margin-left: 2rem;
    margin-top: 0.7rem;
    display: block;

    transition: all 0.3s;
  }

  //   * when the placeholder is shown which means when we have not written  anything in the input, we want the lable to be hidden .
  // * [+] selecting the adjacent siblings selector.

  // ! we want to make sure that the [label] does'nt show.

  // * as soon as we start writing the [placeholder] should be gone, and the label comes back.
  &__input:placeholder-shown + &__label {
    // * using opacity because we want to animate the effect.
    opacity: 0;
    visibility: hidden;
    // * when you start writing it should come from the top.
    transform: translateY(-4rem);
  }
}
