body{
    font-family: "Lato", sans-serif;
    font-weight: 400;
    /* font-size: 16px; */
    line-height: 1.7;
    color: $color-gray-dark;
    padding: 3rem;
    // box-sizing: border-box;

}

.heading-primary{
    color: $color-white;
    text-transform: uppercase;
    margin-bottom: 6rem;
    backface-visibility: hidden;

    &--main{
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    }

    &--sub{
        display: block;
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 1.75rem;
        animation: moveInRight 1s ease-out;
    }
}
.heading-secondary{
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
    // the background get clipped exactly where the text is.
    // * meaning that it will clip the background, the linear-gradient to the text to fit in.
    // [-webkit-background-clip] brand new css property.
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: .3rem;
    transition: all .2s;

    &:hover{
        // 110%
        transform: skewY(2deg) skewX(15deg) scale(1.1);
        // [.5rem] -> x direction, [1rem] -> y direction, [2rem] -> off blur.
        text-shadow: .5rem 1rem 2rem rgba($color-black, .2);
    }
}

.heading-tertiary{
    font-size: $default-font-size;
    // font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase;
}

.paragraph{
    font-size: $default-font-size;
    // font-size: 1.6rem;
    // margin-bottom: 3rem;


    // * we dont want this particular style to apply to the last one, selecting all the paragraph except the last child.
    &:not(:last-child){
         margin-bottom: 3rem;
    }
}